body {
  margin: 0 auto;
  color: #fff;
}

.container {
  display: grid;
  grid-template-areas:
    'header'
    'aside'
    'main'
    'pagination'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.5fr 10fr 0.2fr 0.5fr;
}


.pagination_section{
  grid-area: pagination;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  background-color: #512da8;
  grid-area: header;
}

.header_logo_icono {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: flex-start;
}

.header_logo span {
  font-size: 40px;
  padding-right: 5px;
}

.header_menu_icono {
  font-size: 50px;
}

.header_menu  {
  display: none;
}

.header_menu_text {
  display: none;
}

.aside {
  grid-area: aside;
  background-color: #673ab7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aside_texto {
  font-weight: 200;
}

.aside_orderby select {
  height: 30px;
  width: 300px;
}

.main {
  background-color: #d1c4e9;
  grid-area: main;
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 350px;
  height: 250px;
  overflow-y: auto;
  border-radius: 20px;
}

.car_image img {
  width: 150px;
}

.car_text {
  color: #512da8;
  margin: 10px;
}

.car_button button {
  background-color: #ff4081;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
}

.car_button button:hover {
  background-color: #d1c4e9;
  color: #000000;
}

.car_button button:focus {
  background-color: #757575;
  color: #fff;
}

.footer {
  padding: 10px;
  background-color: #673ab7;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.pagination_section {
  position: relative;
  font-size: 12px;
  padding-top: 10px;
  margin: 10px 0 px;
  height: 30px;
}

.pagination_section a {
  color: black;
  padding: 10px 18px;
  text-decoration: none;
}

.pagination_section a:hover:not(.active) {
  background-color: #757575;
  color: white;
}

a:nth-child(2) {
  background-color: #ff4081;
  color: white;
}

a:nth-child(1) {
  font-weight: bold;
}

.content {
  margin: 50px;
  padding: 15px;
  width: 700px;
  height: 200px;
  border: 2px solid black;
}

/*MODO TABLET - OPCIONAL*/
@media (min-width: 576px) and (max-width: 991px) {
  .container {
      display: grid;
      grid-template-areas:
        'header header'
        'aside main'
        'aside pagination'
        'footer footer';
      grid-template-columns: 0.5fr 3fr;
      grid-template-rows: 0.5fr 6fr 0.3fr 0.5fr;
    }

    .pagination_section{
      grid-area: pagination;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .aside_orderby select {
      height: 30px;
      width: 100px;
    }
    .header .header_menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 40px;
    }

    .header > .header_menu {
      display:none;
    }

    .header_menu_text {
      display: grid;
      font-size: 10px;
    }
  
    .header_logo_icono{
      justify-content: space-around;
    }
    .header_menu_text a {
      color: white;
    }

    .header_menu_text a:hover,
    .header_menu_text a:focus {
      color: #ff4081;
    }

    #icon_burger {
      display: none;
    }

    .main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      align-items: stretch;
      row-gap: 10px;
    }
    .car {
      width: 280px;
      height: 280px;
    }
  
    .car_image img {
      width:180px;
    }
    .pagination_section {
      align-items: center;
    }
}

/*MODO ESCRITORIO*/
@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-areas:
      'header aside'
      'header main'
      'footer main';
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5.5fr 1fr;
  }

  .aside {
    padding-bottom: 20px;
  }
  .aside_orderby select {
    height: 30px;
    width: 1000px;
  }

  .header_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }

  .header_logo_icono .header_menu {
    display:none;
  }
  
  .header_menu_text {
    display: grid;
    font-size: 10px;
  }

  .header_menu_text a {
    color: white;
  }

  .header_menu_text a:hover,
  .header_menu_text a:focus {
    color: #ff4081;
  }

  #icon_burger {
    display: none;
  }
  
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    align-items: stretch;
    row-gap: 20px;
  }

  .car {
    width: 250px;
    height: 280px;
  }

  .car_image img {
    width: 150px;
  }

  .pagination_section {
    display: none;
  }

  .footer_text {
    text-align: center;
  }
}
