body {
  max-width: 100%;
  width: 375vh;
  margin: 0 auto;
  color: #fff;
}
.container {
  display: grid;
  grid-template-areas:
    'header'
    'aside'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 20fr 0.5fr;
  
}

.header {
  background-color: #512da8;
  grid-area: header;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  align-items: flex-start;
}
.header_logo span {
  font-size: 40px;
  padding-right: 5px;
}
.header_menu {
  font-size: 50px;
}
.aside {
  grid-area: aside;
  background-color: #673ab7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aside_texto {
  font-weight: 200;
}

.aside_orderby select {
  height: 30px;
  width: 300px;
}
.main {
  background-color: #d1c4e9;
  grid-area: main;
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 350px;
  height: 300px;
}

.car_image {
}
.car_image img {
  width: 200px;
}
.car_text {
  color: #512da8;
  margin: 10px;
}

.car_button {
}

.car_button button {
  background-color: #ff4081;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
}
.footer {
  padding: 10px;
  background-color: #673ab7;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer_icon {
}

.footer_text {
}

 /* pagination position styling */
 .pagination_section {
    position: relative;
    font-size: 12px;
    padding-top: 10px;
    margin: 10px 0 px;
    height: 30px;
  }
 
  /* pagination styling */
  .pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
  }
 
  /* pagination hover effect on non-active */
  .pagination_section a:hover:not(.active) {
    background-color: #757575;
    color: white;
  }
 
  /* pagination hover effect on active*/
 
  a:nth-child(2) {
    background-color: #ff4081;
    color: white;
  }
 
  a:nth-child(1) {
    font-weight: bold;
  }
 
  a:nth-child(7) {
    font-weight: bold;
  }
 
  .content {
    margin: 50px;
    padding: 15px;
    width: 700px;
    height: 200px;
    border: 2px solid black;
  }
 